.content{
    background-image: linear-gradient(rgb(54, 0, 153), rgb(133, 32, 180));
    padding: 64px 32px;
    display: flex;

    &--2{
        flex-direction: row-reverse;
        background-image: linear-gradient(rgb(133, 32, 180), rgb(54, 0, 153));
    }

    @media (max-width:640px) {

        display: block;

        .content__image{
            margin: 0;
            margin-top: 32px ;
        }
    }

    @media (max-width:1024px) {

        display: flex;
        flex-direction: column;
        align-items: center;

        .content__image{
            margin: 0;
            margin-top: 32px;
            width: 600px;
        }



    }


    .container{
        display: flex;
        flex-direction: column;
    }

    &__title{
        font-size: 50px;
        margin-bottom: 20px ;
        text-align: center;
    }

    &__text{
        color: white;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    &__image{
        max-width: 450px;
        width: 100%;
        border-radius: 15px;
        margin-left: 32px;
    }
}